[submodule "visualizations"]
	path = visualizations
	url = https://github.com/ericandrewlewis/visualizations.git
[submodule "cool-text-converter"]
	path = cool-text-converter
	url = https://github.com/ericandrewlewis/translatorthingie.git
[submodule "unicode-hacker-bench"]
	path = unicode-hacker-bench
	url = https://github.com/ericandrewlewis/unicode-hacker-bench.git
[submodule "flying-objects-screensaver"]
	path = flying-objects-screensaver
	url = https://github.com/ericandrewlewis/flying-objects-screensaver.git
[submodule "emoji-mosaic"]
	path = emoji-mosaic
	url = https://github.com/ericandrewlewis/emoji-mosaic.git
[submodule "how-a-quadtree-works"]
	path = how-a-quadtree-works
	url = https://github.com/ericandrewlewis/how-a-quadtree-works.git
